* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ed2788;

    font-family: Arial, sans-serif;

    overflow: hidden;
}


/* =================================
   ENVELOPE CONTAINER
================================= */

.wrapper {
    position: relative;

    width: min(90vw, 700px);
    height: min(70vh, 500px);

    display: flex;
    justify-content: center;
    align-items: center;
}


.envelope {
    position: relative;

    width: 100%;
    height: 70%;

    background: #0f479f;

    border: 5px solid #20062d;

    border-radius: 10px;

    box-shadow:
        0 15px 30px rgba(180, 70, 100, 0.25);
}


/* =================================
   LEFT AND RIGHT ENVELOPE SIDES
================================= */

.envelope::before,
.envelope::after {
    content: "";

    position: absolute;

    top: 0;

    width: 50%;
    height: 100%;

    background: #0f479f;

    z-index: 4;
}


/* LEFT SIDE */

.envelope::before {
    left: 0;

    clip-path: polygon(
        0 0,
        100% 50%,
        0 100%
    );
}


/* RIGHT SIDE */

.envelope::after {
    right: 0;

    clip-path: polygon(
        100% 0,
        0 50%,
        100% 100%
    );
}


/* =================================
   LETTER
================================= */

.letter {
    position: absolute;

    width: 95%;
    height: 90%;

    left: 2.5%;
    top: 10%;

    background: #fffdfd;

    border: 3px solid #20062d;

    border-radius: 8px;

    padding: 35px 30px;

    text-align: center;

    overflow-y: auto;

    z-index: 2;

    box-shadow:
        0 8px 20px rgba(150, 50, 80, 0.15);

    transition:
        transform 1s ease,
        z-index 0s 0.5s;
}
 

.letter h1 {
    color: #e84f79;

    margin-bottom: 15px;

    font-size: clamp(22px, 4vw, 34px);
}


.letter p {
    color: #555;

    line-height: 1.7;

    font-size: clamp(14px, 2vw, 17px);

    margin-bottom: 12px;
}


/* =================================
   TOP TRIANGLE FLAP
================================= */

.flap {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    background: #1a2c75;

    clip-path: polygon(
        0 0,
        50% 55%,
        100% 0
    );

    transform-origin: top center;

    transition:
        transform 1s ease;

    z-index: 6;
}
.bottom-flap {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: #0f479f;

    clip-path: polygon(
        0 100%,
        100% 100%,
        50% 45%
    );

    z-index: 7;

    pointer-events: none;
}



/* =================================
   HIDDEN CHECKBOX
================================= */

#open {
    display: none;
}


/* =================================
   HEART BUTTON
================================= */

.heart {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 65px;
    height: 65px;

    background: #740645;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 38px;

    z-index: 10;

    cursor: pointer;

    border-radius: 50%;

    box-shadow:
        0 5px 12px rgba(150, 50, 80, 0.25);

    transition: 0.3s ease;
}


.heart:hover {
    transform:
        translate(-50%, -50%)
        scale(1.12);
}


/* =================================
   OPEN ANIMATION
================================= */

#open:checked ~ .flap {
    transform: rotateX(180deg);

    z-index: 1;
}


#open:checked ~ .letter {
    transform: translateY(-55%);

    z-index: 8;
}


#open:checked ~ .heart {
    top: 50%;
}


/* =================================
   SMALL HEARTS
================================= */
.kitt {
    position: absolute;

    right: 0;
    bottom: 0;

    width: 150px;
    height: 150px;

    z-index: 5;
}

.small-heart {
    position: absolute;

    color: #fd32ce;

    font-size: 25px;

    z-index: 8;
}


.h1 {
    left: 35px;
    bottom: 30px;
}


.h2 {
    right: 130px;
    bottom: 25px;
}


.h3 {
    left: 130px;
    bottom: 25px;
}


/* =================================
   MOBILE
================================= */

@media (max-width: 600px) {

    .wrapper {
        width: 94vw;
        height: 55vh;
    }


    .envelope {
        height: 65%;
    }


    .letter {
        width: 82%;

        left: 9%;

        padding:
            25px 18px;
    }


    .kitty {
        transform: scale(0.7);

        transform-origin:
            bottom right;

        right: 5px;
    }


    .heart {
        width: 55px;
        height: 55px;

        font-size: 32px;
    }

}
.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
     border: 3px solid #20062d;
     border-radius: 12px;

     padding: 18px 15px;
    margin: 15px auto 25px;

    background: #ed2788;

    width: 258px;

    box-shadow:
        0 4px 10px rgba(150, 50, 80, 0.15);

}
.lettter-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: right;
    width: 100%;
}


/* VINYL RECORD */

.vinyl {
    width: 90px;
    height: 90px;

    background:
        repeating-radial-gradient(
            circle,
            #222 0px,
            #222 2px,
            #111 3px,
            #111 5px
        );

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        0 5px 12px rgba(0, 0, 0, 0.25);
}


/* CENTER OF RECORD */

.vinyl-center {
    width: 32px;
    height: 32px;

    background: #e94d78;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 17px;

    border: 4px solid #fff;
}


/* SONG TITLE */

.music-title {
    margin: 10px 0 8px !important;

    color: #e94d78 !important;

    font-size: 14px !important;

    font-weight: bold;
}

.music-player audio {
    width: 230px;
    height: 35px;
}


/* MOBILE */

@media (max-width: 600px) {

    .vinyl {
        width: 80px;
        height: 80px;
    }

    .vinyl-center {
        width: 27px;
        height: 27px;
        font-size: 14px;
    }

    .music-player audio {
        width: 200px;
    }
}
